<h1>Store Index</h1>
<%= link_to "新增店家", new_store_path %>

<table>
  <thead>
    <tr>
      <td>店家名稱</td>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
    <tr>
      <td><%= link_to store.name, store_path(store) %></td>
      <td><%= link_to '編輯店家', edit_store_path(store) %></td>
      <td><%= link_to '刪除店家', store_path(store), method: 'delete', data: { confirm: '確定刪除嗎?'} %></td>
    </tr>
    <% end %>
  </tbody>
</table>